# General
route53_zone        = "munnep.com"                     # Main domain for Route53
route53_subdomain   = "tfe1"                           # Subdomain for TFE
cert_email          = "patrick.munne@ibm.com"          # Email for certificate generation
   

# Cloudflare
cloudflare_account_id = "xxxxxx"                       # Cloudflare account ID
cloudflare_api_token  = "xxxxxx"                       # API token for Cloudflare

# TFE
admin_username          = "admin"                      # Username for TFE admin user
admin_email             = "patrick.munne@ibm.com"      # Email for TFE admin user
admin_password          = "secret$321"                 # Password for TFE admin user
tfe_encryption_password = "secret$321"                 # Encryption password for TFE
release_sequence        = "1.0.2"                      # TFE release sequence
tfe_raw_license         = "xxxxxxxx"                   # License string for TFE
